.add-staff-div{
    text-align: center;
    margin-top: 2vh;
}
.add-person-form{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}
.add-person-view{
    background-color: white; 
    padding-bottom: 20vh; 
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: white;
}
.center{
    text-align: center; 
}
.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: #00acb0;
    padding: 5px;
    color: #ece7e7;
}

form {
    border-radius: 2px;
    margin-left: 25vw; 
    margin-right: 25vw; 
    margin-top: 10vh;
    margin-bottom: 40vh;
}
.align-right{
   margin-top: 3vh; 
   display: flex;
   flex-direction: row; 
   flex-wrap: nowrap;
   justify-content: flex-start;
}
input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}
.label-spacing{
    margin-right: 1vw; 
}
.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color: #00acb0;
  width: 100%;
  border-radius: 0px;
}
.padding-top{
    padding-top: 5px;
    margin-top: 5vh; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav {
    float: left;
}
.margin-bottom{
    margin-bottom: 2vh;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}

  
