h2 {
    padding: 10px;
    text-decoration: underline;
}

.container {
    background-color: white;
}

.outer {
    display: flex;
    flex-direction: column;
}

.btnContainer{
    position: fixed;
    right: 25px;
    bottom: 35px;
    z-index: +1;
}