.btn {
    margin: 0px;
    top: auto;
    right: 20px;
    bottom: 20px;
    position: fixed;
    float: right;
}

.outer {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.container {
    overflow-y: auto;
    margin-right: 16px;
    border: solid 1px red;
    padding: 4px;
}

.btnContainer{
    position: fixed;
    right: 5px;
    bottom: 5px;
}