.card {
    padding: 5%;
    margin-left: .5vw;
    margin-right: .5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    float: left; 
    border: 1px solid gray;
    text-align: center; 
    background-color: white; 
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-container{
  margin-left: 6vw;
  text-align: center; 
}
.padding-bottom{
    padding-bottom: 20vh; 
    background-color: white; 
}