.card {
    padding: 5%;
    margin-left: .5vw;
    margin-right: .5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    align-content: left; 
    /* float: left;  */
    border: 1px solid gray;
    text-align: center; 
    background-color: white; 
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-container{
  text-align: center; 
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: space-evenly; 
}
.padding-bottom{
    padding-bottom: 20vh; 
    background-color: white;
    margin-top: 2vh;  
}